<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUP</title>
</head>

<body>
    <div>
        <h1>SignUP User Page</h1>
    </div>

    <form method="POST" action="/user">
        <label>Enter Name </label>
        <input type="text" name="name" placeholder="abc xyz" required />
        </br>

        <label>Enter Email Address</label>
        <input type="email" name="email" placeholder="xyz@abc.gfh" required />
        </br>

        <label>Enter Pasword</label>
        <input type="text" name="password" placeholder="qaksqwjnk" required />
        </br>
        
        <button type="submit">SignUp</button>
    </form>
    

</body>

</html>